 .u-section-1 {
  background-image: url("images/wp2622741.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 627px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 6px;
  margin: 235px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 30px auto 0;
  padding: 10px 111px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  letter-spacing: 6px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 297px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 94px;
    padding-right: 94px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 412px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 119px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 22px 60px 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  min-height: 777px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 777px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 175px 30px 30px;
}

.u-section-3 .u-image-1 {
  width: 445px;
  height: 462px;
  object-position: 50% 19.62%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 777px;
  background-image: url("images/wp1193136.jpg");
  background-position: 65.3% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 582px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 641px;
  }

  .u-section-3 .u-image-1 {
    width: 265px;
    height: 275px;
  }

  .u-section-3 .u-image-2 {
    min-height: 641px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 442px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 75px;
  }

  .u-section-3 .u-image-2 {
    min-height: 491px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 772px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 737px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 517px;
  }

  .u-section-3 .u-image-2 {
    min-height: 464px;
  }
} .u-section-4 {
  min-height: 695px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 330px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 6px;
  margin: 0;
}

.u-section-4 .u-image-1 {
  min-height: 365px;
  background-image: url("images/wp1192663.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 365px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 695px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 396px;
  height: 452px;
  margin: 44px 97px 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 295px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 573px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-4 .u-image-1 {
    min-height: 301px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 301px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 573px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 195px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1199px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -9px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 461px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1560px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -18px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 692px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 55px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1237px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 436px;
  }

  .u-section-4 .u-image-2 {
    width: 320px;
    height: 415px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: url("images/231-2319559_tangled-rapunzel.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 561px;
}

.u-section-5 .u-group-1 {
  width: 648px;
  min-height: 433px;
  margin: 60px 0 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 6px;
  font-weight: 400;
  margin: 68px -74px 0 154px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 40px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 463px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-5 .u-group-1 {
    margin-right: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-6 {
  background-image: none;
  min-height: 783px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 6px;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 318px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  margin: 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin-top: 19px;
  margin-bottom: 0;
  padding: 0;
}

.u-section-6 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 0;
  grid-gap: 10px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 381px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 12px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-6 .u-gallery-1 {
    height: 289px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 941px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-gallery-1 {
    height: 885px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 2947px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2655px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1832px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-gallery-1 {
    height: 1672px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/wp2622774.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 562px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 659px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 6px;
  text-transform: none;
  font-weight: 400;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 0 -21px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 216px 30px 0;
}

.u-section-7 .u-image-1 {
  min-height: 562px;
  background-image: url("images/wp2622774.jpg");
  background-position: 94.93% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 463px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 594px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
    margin-top: 124px;
  }

  .u-section-7 .u-image-1 {
    min-height: 594px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -142px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-7 .u-image-1 {
    min-height: 726px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -350px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    margin-top: 78px;
  }

  .u-section-7 .u-image-1 {
    min-height: 300px;
  }
}